

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.inside_menu {
  margin-bottom: 30px;
}

.inside_menu a {
  margin: 0 30px;
}

.categories {
  display: flex;
  justify-content: space-between;
}

.dishes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -10px;
}

.dishes-list-box {
  width: 25%;
  padding: 10px;
  display: flex;
  align-items: stretch;
}

.dishes-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.dishes-list-item img {
  border-radius: 15px;
  max-width: 100%;
}

.categories_list {
  display: flex;
  flex-wrap: wrap;
}

.categories-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.categories_list-item {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 20px;
}

.categories_list-item a {
  color: red;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.categories_list-item_img-01 {
  background-image: url(../img/breakfast.jpg);
}

.categories_list-item_img-02 {
  background-image: url(../img/potato_pancake.jpg);
}

.categories_list-item_img-03 {
  background-image: url(../img/snacks.jpg);
}

.categories_list-item_img-04 {
  background-image: url(../img/soup.png);
}

.categories_list-item_img-05 {
  background-image: url(../img/salads.jpg);
}

.categories_list-item_img-06 {
  background-image: url(../img/meat.jpeg);
}

.categories_list-item_img-07 {
  background-image: url(../img/barbecue.jpg);
}

.categories_list-item_img-08 {
  background-image: url(../img/varenics.jpg);
}

.error {
  color: red;
  display: none;
}

.show {
  display: block;
}